
<h1>About Us</h1>
<p>
    <a href="http://omrails.com/">Smart Groseries</a>
    is a project to save money and control your Groseries
    <a href="http://rubyonrails.org/">Ruby on Rails</a> 
    in one month. This is the sample application.
</p>
